<!DOCTYPE html>
<html lang="en">
<head>
  <title>Covid Cases</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
  crossorigin="anonymous">
</head>
<body style="background-color: rgb(43, 42, 42);">
  <h1 style="color: white; text-align: center; margin-top:50px;"><span style="color: gold;">Covid-19</span>
    Tracker</h1>
    <form method="POST" class="d-flex justify-content-center align-items-center" action="">
      {% csrf_token %}
      <select class="form-control" style="width: 200px;" name="selectedcountry">
      {% for country in mylist %}
      <option>{{ country }}</option>
      {% endfor %}
    </select><br><br>
    <button type="submit" class="btn btn-outline-danger" style="margin-left: 10px;"><strong> Submit</strong></button>
    </form>
    <h1 style="text-align: center; margin-top:70px; color: white;">{{ selectedcountry }}</h1>
    <div class="d-flex justify-content-center align-items-center" style="margin-top:70px;">
      <div class="container" style="height: 100px; width: 200px; background-color: black; border-radius: 10px; text-align: center;">
        <h1 style="color: orangered;">{{total}}</h1>
        <p style="color: orangered;">Total Cases</p>
      </div>
      <div class="container" style="height: 100px; width: 200px; background-color: black; border-radius: 10px; text-align: center;">
        <h1 style="color: green;">{{recovered}}</h1>
        <p style="color: green;">Recovered Cases</p></div>
      <div class="container" style="height: 100px; width: 200px; background-color: black; border-radius: 10px; text-align: center;">
        <h1 style="color: yellow;">{{active}}</h1>
        <p style="color: yellow;">Active Cases</p></div>
    </div>
    <div class="d-flex justify-content-center align-items-center" style="margin-top:50px;">
      <div class="container" style="height: 100px; width: 200px; background-color: black; border-radius: 10px; text-align: center;">
        <h1 style="color: skyblue;">{{new}}</h1>
        <p style="color: skyblue;">New Cases</p></div>
      <div class="container" style="height: 100px; width: 200px; background-color: black; border-radius: 10px; text-align: center;">
        <h1 style="color: grey;">{{deaths}}</h1>
        <p style="color: grey;">Death Cases</p></div>
      <div class="container" style="height: 100px; width: 200px; background-color: black; border-radius: 10px; text-align: center;">
        <h1 style="color: red;">{{critical}}</h1>
        <p style="color: red;">Critical Cases</p></div>
    </div>
</body>
</body>
</html>